<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Designs
        {{#if title includeZero=true}} - {{title}}{{/if}}
    </title>
    <meta name="description" content="A hub for ACNH designs!">
    <meta name="author" content="github.com/AcidicNic">

    <!-- Bootstrap -->
    <link href="/bs/css/bootstrap.css" rel="stylesheet">
    <!-- fontawesome -->
    <link href="/fas/css/all.css" rel="stylesheet">
    <!-- My CSS -->
    <link href="../../css/base.css" rel="stylesheet">

    <!-- Ubuntu Font -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
</head>
<body>

    <div id="page-wrapper">
        <!-- Navbar -->
        <nav class="navbar navbar-light bg-dark justify-content-start">
            <a class="nav-title no-ul" href="/">
                <i class="fas fa-palette h2 text-white d-inline-block align-top mt-1"></i>
                <i class="fas fa-paint-brush h4 text-white d-inline-block align-top mt-2"></i>
                <span class="h2 text-white mx-2">Design Portal</span>
            </a>
            <div class="ml-auto"></div>
            <div class="d-flex justify-content-end">
                {{#if cUser}}
                    <a href="/logout" class="btn btn-secondary ml-3">Logout</a>
                    <a href="/u/{{cUser.username}}" class="btn btn-secondary ml-3">{{cUser.username}}</a>
                {{else}}
                    {{#unless login}}
                        <a href="/login" class="btn btn-success ml-3">Login</a>
                    {{/unless}}
                    {{#unless signup}}
                        <a href="/signup" class="btn btn-primary ml-3">Sign Up</a>
                    {{/unless}}

                {{/if}}
            </div>
        </nav>

        <!-- Body Container -->
        <div class="content-wrapper mx-auto my-4">
            {{{ body }}}
        </div>

    </div>

    <footer id="footer" class="w-100 text-center bg-dark">
        <div class="h-100 d-flex justify-content-center align-items-center text-white">
            <a class="mx-2 no-ul" href="https://www.linkedin.com/in/nicoleabadie/">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a class="mx-2 no-ul" href="mailto: nic4096@gmail.com">
                <i class="fas fa-envelope"></i> Email
            </a>
            <a class="mx-2 no-ul" href="https://github.com/AcidicNic">
                <i class="fab fa-github"></i> Github
            </a>
            <a class="mx-2 no-ul" href="https://www.makeschool.com/portfolio/nicoleAbadie">
                <i class="fas fa-gem"></i> Portfolio
            </a>
            <a class="mx-2 no-ul" href="https://twitter.com/niccsuccs">
                <i class="fab fa-twitter"></i> Twitter
            </a>
        </div>
    </footer>

    <!-- jQuery, Popper, and Bootstrap JS -->
    <script src="/jquery/jquery.js"></script>
    <script src="/popper/popper.js"></script>
    <script src="/bs/js/bootstrap.js"></script>
    <!-- fontawesome -->
    <script src="/fas/js/all.js"></script>

</body>
</html>
