<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Designs
        {{#if title includeZero=true}} - {{title}}{{/if}}
    </title>
    <meta name="description" content="A hub for ACNH designs!">
    <meta name="author" content="github.com/AcidicNic">

    <!-- Bootstrap -->
    <link href="/bs/css/bootstrap.css" rel="stylesheet">
    <!-- fontawesome -->
    <link href="/fas/css/all.css" rel="stylesheet">
    <!-- My CSS -->
    <link href="../../css/base.css" rel="stylesheet">

    <!-- Ubuntu Font -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
</head>
<body>

<div id="page-wrapper">
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-dark justify-content-start">
        <a class="nav-title no-ul" href="/">
            <i class="fas fa-palette h2 text-white d-inline-block align-top mt-1"></i>
            <i class="fas fa-paint-brush h4 text-white d-inline-block align-top mt-2"></i>
            <span class="h2 text-white mx-2">Design Portal</span>
        </a>
        <div class="ml-auto"></div>
        <div class="d-flex justify-content-end">
            <div>
                <div class="input-group">
                    <input type="text" form="searchForm" name="query" class="form-control" placeholder="Search..." aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light form-control" form="searchForm" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            {{#if cUser}}
                <div class="btn-group ml-3">
                    <a type="button" class="btn btn-light" href="/u/{{cUser.username}}">{{cUser.username}}</a>
                    <a type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/edit/u">Edit Profile</a>
                        <a class="dropdown-item" href="/create/d">Post Design</a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" data-toggle="modal" data-target="#deleteAcctModal">Delete Account</button>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            {{else}}
                {{#unless signup}}
                    <a href="/signup" class="btn btn-dark ml-3">Sign Up</a>
                {{/unless}}
                {{#unless login}}
                    <a href="/login" class="btn btn-outline-light ml-3">Login</a>
                {{/unless}}

            {{/if}}
        </div>
    </nav>

    <!-- search form -->
    <form id="searchForm" action="/search">
    </form>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteAcctModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure you want to <strong>delete</strong> your account?!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Once it's deleted, all your data is gone forever!
                    <form action="/delete/u" method="POST" id="delete-form"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="mr-auto btn btn-dark" data-dismiss="modal">Back</button>
                    <button type="submit" form="delete-form" class="ml-auto btn btn-danger">DELETE</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Body Container -->
    <div class="content-wrapper mx-auto my-4 text-dark">
        {{{ body }}}
    </div>

</div>

<footer id="footer" class="w-100 text-center bg-dark">
    <div class="h-100 d-flex justify-content-center align-items-center text-white">
        <a class="mx-2 no-ul" href="https://github.com/AcidicNic/ACNH-Designs">
            <i class="fab fa-github"></i> AcidicNic/ACNH-Designs
        </a>
    </div>
</footer>

<!-- jQuery, Popper, and Bootstrap JS -->
<script src="/jquery/jquery.js"></script>
<script src="/popper/popper.js"></script>
<script src="/bs/js/bootstrap.js"></script>
<!-- fontawesome -->
<script src="/fas/js/all.js"></script>

</body>
</html>
