<div class="mx-auto col-8">
    {{#if msg}}
        <div class="alert alert-warning alert-dismissible fade show text-center my-3" role="alert">
            <div class="mx-auto">
                {{msg}}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
</div>
<div class="mx-auto w-75">
    {{#if designs}}
        <div class="d-flex align-content-stretch flex-wrap">
            {{#each designs}}
                <div class="card w-25">
                    {{#if this.img}}
                        <img class="card-img-top" src="{{this.img}}">
                    {{else}}
                        <img class="card-img-top" src="https://i.pinimg.com/236x/fc/7e/ce/fc7ece8e8ee1f5db97577a4622f33975--photo-icon-sad.jpg">
                    {{/if}}
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">Creator: {{this.creator.username}}</p>
                        <a href="/d/{{this.slug}}" class="w-100 btn btn-dark">View Design</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="text-center mx-auto">No designs... Yet :(</div>
        {{/if}}
    </div>
</div>