<div class="w-75 mx-auto text-center">
    <div class=""><span class="h3">{{user.username}}</span></div>
    <div class="mb-3 "><small>{{#if user.creatorId}} MA-{{user.creatorId}}{{/if}}</small></div>
    <div class="mb-3">
        <div class="d-flex justify-content-center">
            {{#if user.islandName}}
                <div class="mx-2">
                    <div class="btn btn-light"><span class="font-weight-bold">Name:</span> {{user.name}}</div>
                </div>
            {{/if}}
            {{#if user.islandName}}
                <div class="mx-2">
                    <div class="btn btn-light"><span class="font-weight-bold">Island Name:</span> {{user.islandName}}</div>
                </div>
            {{/if}}
            {{#if user.discord}}
                <div class="mx-2">
                    <div class="btn btn-light"><span class="font-weight-bold">Discord:</span> {{user.discord}}</div>
                </div>
            {{/if}}
            {{#if user.twitter}}
                <div class="mx-2">
                    <button class="btn btn-light"><span class="font-weight-bold">Twitter:</span> {{user.twitter}}</button>
                </div>
            {{/if}}
        </div>
    </div>

    {{#if user.bio}}
        <div class="mb-3">
            <div class="h5 ">Bio: </div>
            <div class="w-50 mx-auto ">
                {{user.bio}}
            </div>
        </div>
    {{/if}}

    <div class="dropdown-divider mx-auto w-50"></div>
    <div class="mb-3">
        <div class="h5 text-center">{{user.username}}'s Designs:</div>
        <div class="">
            {{#if designs}}
                <div class="d-flex align-content-stretch flex-wrap mx-auto">
                    {{#each designs}}
                        <div class="mx-auto card-wrap">
                            <div class="card m-3">
                                {{#if this.img}}
                                    <img class="card-img-top" src="{{this.img}}">
                                {{else}}
                                    <img class="card-img-top" src="https://i.pinimg.com/236x/fc/7e/ce/fc7ece8e8ee1f5db97577a4622f33975--photo-icon-sad.jpg">
                                {{/if}}
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{this.title}}</h5>
                                    <div class="mb-2 mx-auto">
                                        <a class="btn btn-light btn-sm w-100" href="/u/{{this.creator.username}}">Created by: {{this.creator.username}}</a>
                                    </div>

                                    <a href="/d/{{this.slug}}" class="w-100 btn btn-dark">View Design</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{else}}
                {{user.username}} hasn't posted any designs. :(
            {{/if}}
        </div>
    </div>
</div>